<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<hr>

<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Type</th>
    <th>Deadline</th>
    <th>Status</th>
    <th>Project</th>
    <th>Assigned To</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project.tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.description %></td>
    <td><%= task.todo %></td>
    <td><%= task.deadline %></td>
    <td><%= task.status %></td>
    <td><%= task.project %></td>
    <td><%= task.assigned %></td>
    <td><%= image_tag task.image.variant(resize: "100x100"), size: '100'%></td> 
    <td><%= link_to 'Show', [task.project, task] %></td>

    <% if current_user.manager_role?%>
    <td><%= link_to 'Edit', edit_project_task_path(task.project, task) %></td>
    <td><%= link_to 'Destroy', [task.project, task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
    <%end%>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_project_task_path(@project.id) %>
